<div class="resources grid grid-3col">
  <div class="resource flex-group-center">
    <label for="system.encumbrance.stowed.value" class="resource-label">Stowed Items</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.encumbrance.stowed.value" disabled value="{{system.encumbrance.stowed.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.encumbrance.stowed.max" disabled value="{{system.encumbrance.stowed.max}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.encumbrance.readied.value" class="resource-label">Readied Items</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.encumbrance.readied.value" disabled value="{{system.encumbrance.readied.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.encumbrance.readied.max" disabled value="{{system.encumbrance.readied.max}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.encumbrance.currentReadied" class="resource-label">Money</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="system.money" value="{{system.money}}" data-dtype="Number"/>
    </div>
  </div>
</div>
{{> "systems/cities-without-number/templates/actor/parts/actor-inventory.hbs"}}