<div class="skill-points">
  <label for="system.availableSkillPoints">Available skill points:</label>
  <input type="text" name="system.availableSkillPoints" value="{{system.availableSkillPoints}}"  data-dtype="Number"/>
</div>

<div class="grid grid-3col">
  {{#each skills as |skill id|}}
  <div class="skill-pill">
    <span class="rollable skill" data-item-id="{{skill._id}}" data-roll-type="skill">{{skill.name}}</span>
    <input type="text" data-dtype="Number" value="{{skill.system.level}}" class="skill-level" data-skill-id="{{skill._id}}"/>
  </div>
  {{/each}}
</div>
