<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-2col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.barriers.value" class="resource-label">Active Barriers</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.barriers.value" value="{{system.barriers.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.barriers.max" value="{{system.barriers.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label class="resource-label">Active Nodes</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.nodes.value" value="{{system.nodes.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.nodes.max" value="{{system.nodes.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label class="resource-label">Active Demons</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.demons.value" value="{{system.demons.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.demons.max" value="{{system.demons.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.cost" class="resource-label">Cost</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="network">Network</a>
    <a class="item" data-tab="programs">Programs</a>
    <a class="item" data-tab="demons">Demons</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Network Tab --}}
    <div class="tab items" data-group="primary" data-tab="network">
      {{> "systems/cities-without-number/templates/actor/parts/actor-server-network.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography max-height" data-group="primary" data-tab="description">
      {{> "systems/cities-without-number/templates/actor/parts/actor-biography.hbs"}}
    </div>

    {{!-- Programs Tab --}}
    <div class="tab items" data-group="primary" data-tab="programs">
      {{> "systems/cities-without-number/templates/actor/parts/actor-server-programs.hbs"}}
    </div>

    {{!-- Demons Tab --}}
    <div class="tab items" data-group="primary" data-tab="demons">

    </div>
  </section>
</form>

